
#logo{
	margin-left: 100px;
	font-size: 52px;
	font-weight: bold;
	color: white;
	background-color: #ff0083;

}
#search{
	margin-top: 64px;
	width: 300px;
	background-position: right;
}
#bt{
	position: relative;
	left:30px;
	top:96px;
}

ul li{

   display: inline-block;
    font-weight: bolder;
    margin-left: 30px;
    color: white;
}
		

				ul li:hover{
			background-color: black;
			
	
}
.i{
	height: 300px;
}


